.slider_div {
  display: inline;
}

.scheme {
  position: relative;
  top: 100px;
  left: 50px;
  transition: all 1s ease 0s;
}

.scheme-wrapper {
  transform: translateX(-2048px);
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  width: 3072px;
  transition: all 1s 0s;
}

.scheme-1 {
  background-image: url(../../Media/scheme1.png);
  background-repeat: no-repeat;
  width: 1024px;
  height: 768px;
  margin-left: 25px;
}

.scheme-2 {
  background-image: url(../../Media/scheme2.png);
  background-repeat: no-repeat;
  width: 1024px;
  height: 768px;
}

.scheme-3 {
  background-image: url(../../Media/scheme3.png);
  background-repeat: no-repeat;
  width: 1024px;
  height: 768px;
}

.rheostat {
  position: absolute;
  left: 20%;
  width: 600px;
  height: 50px;
  bottom: 100px;
}

.DefaultHandle_handle {
  position: absolute;
  bottom: -14px;
  background-image: url("../../Media/cursor.png") !important;
  width: 43px;
  height: 56px;
  touch-action: pan-x;
}

.DefaultBackground {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 13px;
  background-color: white;
  opacity: 0.2;
}

.DefaultProgressBar_progressBar {
  position: absolute;
  bottom: 10px;
  max-width: 100%;
  height: 13px;
  background-color: white;
  opacity: 0.8;
}

button {
  background: none;
  border: none;
  padding: 0;
}

.ice1_1 {
  position: absolute;
  background-image: url(../../Media/ice1_1.png);
  width: 217px;
  height: 204px;
  left: -20px;
  bottom: 138px;
  opacity: 0.7;
}

.ice1_2 {
  position: absolute;
  background-image: url(../../Media/ice1_2.png);
  width: 107px;
  height: 101px;
  top: 115px;
  right: 320px;
  opacity: 0.5;
}

.ice1_3 {
  position: absolute;
  background-image: url(../../Media/ice1_3.png);
  width: 38px;
  height: 39px;
  right: 160px;
  top: 0px;
  opacity: 0.5;
}

.ice2_1 {
  position: absolute;
  background-image: url(../../Media/ice2_1.png);
  width: 126px;
  height: 197px;
  right: 58px;
  bottom: 110px;
  opacity: 0.7;
}

.ice2_2 {
  position: absolute;
  background-image: url(../../Media/ice2_2.png);
  width: 107px;
  height: 101px;
  top: 140px;
  left: -40px;
  opacity: 0.65;
}

.ice2_3 {
  position: absolute;
  background-image: url(../../Media/ice2_3.png);
  width: 38px;
  height: 39px;
  right: 540px;
  top: -10px;
  opacity: 0.8;
}

.ice3_1 {
  position: absolute;
  background-image: url(../../Media/ice3_1.png);
  width: 191px;
  height: 180px;
  bottom: 90px;
  left: 100px;
  z-index: -1;
}

.ice3_2 {
  position: absolute;
  background-image: url(../../Media/ice3_2.png);
  width: 88px;
  height: 102px;
  top: 100px;
  right: 50px;
  opacity: 0.8;
  z-index: -1;
}

.ice3_3 {
  position: absolute;
  background-image: url(../../Media/ice3_3.png);
  width: 33px;
  height: 39px;
  left: -20px;
  top: -7px;
  opacity: 0.7;
  z-index: -1;
}