.slider_div {
  display: inline;
}

.scheme {
  position: relative;
  top: 100px;
  left: 50px;
  transition: all 1s ease 0s;
}

.scheme-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  width: 3072px;
  transition: all 1s 0s;
}

.scheme-1 {
  width: 1024px;
  height: 768px;
}

.scheme-2 {
  width: 1024px;
  height: 768px;
}

.scheme-3 {
  width: 1024px;
  height: 768px;
}

.slider {
  position: absolute;
  width: 100%;
  bottom: 50px;
}
